<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" th:href="@{/admin/css/dashboard.css}">
    <link rel="stylesheet" th:href="@{/admin/css/dashboard_information.css}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>PTITShop</title>
</head>

<body>

<!-- Sidebar -->
<div class="sidebar">
    <a href="#" class="logo">
        <i class='bx bx-code-alt'></i>
        <div class="logo-name"><span>PTIT</span>Shop</div>
    </a>
    <ul class="side-menu">
        <li class="slide-menu-product"><a href="/admin/product"><i class='bx bxs-dashboard'></i>Sản phẩm</a></li>
        <li class="slide-menu-category"><a href="/admin/category"><i class='bx bx-store-alt'></i>Danh mục sản phẩm</a></li>
        <li class="slide-menu-order"><a href="/admin/order"><i class='bx bx-analyse'></i>Đơn hàng</a></li>
        <li class="slide-menu-customer"><a href="#"><i class='bx bx-group'></i>Khách hàng</a></li>
        <li class="slide-menu-staff"><a href="/admin/staff"><i class='bx bx-group'></i>Nhân viên</a></li>
        <li><a href="#"><i class='bx bx-cog'></i>Settings</a></li>
    </ul>
    <ul class="side-menu">
        <li>
            <a th:href="@{/admin/logout}" class="logout">
                <i class='bx bx-log-out-circle'></i> Logout
            </a>
        </li>
    </ul>
</div>
<!-- End of Sidebar -->

<!-- Main Content -->
<div class="content">
    <!-- Navbar -->
    <nav>
        <i class='bx bx-menu'></i>
        <form action="#">
            <div class="form-input">
                <input type="search" placeholder="Search..." hidden>
                <button class="search-btn" type="submit" style="display: none"><i class='bx bx-search'></i></button>
            </div>
        </form>
        <input type="checkbox" id="theme-toggle" hidden>
        <label for="theme-toggle" class="theme-toggle"></label>
        <a href="#" class="profile">
            <img src="/public/img/user.jpg">
        </a>
    </nav>

    <!-- End of Navbar -->

    <main>
        <div class="header">
            <div class="left">
                <h1>Khách hàng</h1>
                <ul class="breadcrumb">
                    <li><a href="#">
                        Customer
                    </a></li>
                    /
                    <li><a href="#" class="active">Shop</a></li>
                </ul>
            </div>
        </div>

        <!--********************* Customer ***********************-->
        <div style="background: var(--light);color: var(--dark);">
            <table width="100%">
                <thead>
                <tr>
                    <th style="width: 150px;"><span class="las la-sort"></span> EMAIL</th>
                    <th style="width: 100px;"><span class="las la-sort"></span> HỌ TÊN</th>
                    <th style="width: 80px;"><span class="las la-sort"></span> SĐT</th>
                    <th style="width: 50px;"><span class="las la-sort"></span> ACTION</th>
                </tr>
                </thead>
                <tbody id="tbody">
                <tr th:each="customerManagement : ${customers}">
                    <td th:text="${customerManagement.email}"></td>
                    <td th:text="${customerManagement.fullName}"></td>
                    <td th:text="${customerManagement.phone}"></td>
                    <td>
                        <i class="fa fa-pencil editBtn"></i>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <!-- Confirmation Modal -->
        <div id="confirmationModal">
            <p>Bạn có chắc chắn muốn xóa dữ liệu này?</p>
            <button id="confirmDelete" onclick="deleteData()" style="background: var(--primary); border: none;padding: 10px 15px; color: white; border-radius: 8px; width: 60px;">Xóa</button>
            <button id="cancelDelete" onclick="closeConfirmationModal()" style="background: var(--dark-grey); border: none;padding: 10px 10px; color: white; border-radius: 8px; width: 60px;">Không</button>
        </div>
    </main>
</div>

</body>
</html>
<script th:src="@{/admin/js/dashboard.js}"></script>
<script>
    // Khai báo biến
    const link = document.querySelector(".slide-menu-customer");
    const modal = document.getElementById("myModal");
    const btnEdit = document.getElementById("submitBtn");
    const cancelBtn = document.getElementById("cancelBtn");
    const tbody = document.getElementById("tbody");
    let isEditing;
    // ********************************** SỬA DỮ LIỆU ************************************
    document.addEventListener("DOMContentLoaded", function() {
        const link = document.querySelector(".slide-menu-categoryManagement");
        let isEditing = true;

        tbody.addEventListener("click", function (event) {
            if (event.target.classList.contains("fa-pencil")) {
                const row = event.target.closest("tr");
                isEditing = false;
                const email = row.querySelector("td:first-child").textContent;
                const tenKhachHang = row.querySelector("td:nth-child(2)").textContent;
                const sdt = row.querySelector("td:nth-child(3)").textContent;

                // Tạo và điền dữ liệu vào form
                const form = document.createElement('form');
                form.method = 'POST';
                form.action = '/admin/updateCustomer';

                const tenKhachHangInput = document.createElement('input');
                tenKhachHangInput.type = 'text';
                tenKhachHangInput.name = 'TenKhachHang';
                tenKhachHangInput.value = tenKhachHang;
                form.appendChild(tenKhachHangInput);

                const sdtInput = document.createElement('input');
                sdtInput.type = 'text';
                sdtInput.name = 'SDT';
                sdtInput.value = sdt;
                form.appendChild(sdtInput);

                const emailInput = document.createElement('input');
                emailInput.type = 'hidden';
                emailInput.name = 'Mail';
                emailInput.value = email;
                form.appendChild(emailInput);

                console.log(document.body);
                // Hiển thị form
                document.body.appendChild(form);
                form.submit();
            } else {
                link.classList.remove('active');
            }
        });
    });
</script>