<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-store, no-cache, must-revalidate, max-age=0">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <link rel="stylesheet" th:href="@{/admin/css/login.css}">
    <title>Login</title>
</head>

<body>
<div class="container">
    <div class="borderLine"></div>
    <div class="borderLine"></div>
    <div class="borderLine"></div>
    <div class="borderLine"></div>
    <form action="/admin/login" th:object="${admin}" method="post">
        <h2>Sign in</h2>
        <div class="custom" style="width: 100%; text-align: center;">
            <div th:if="${error}" class="custom-alert custom-alert-error" role="alert" style="display: block !important; color: red"><i class="fa fa-times-circle"></i>
                <span th:text="${error}"></span>
            </div>
        </div>
        <div class="inputBox">
            <input type="text" th:field="*{username}" required>
            <span>Username</span>
            <i></i>
        </div>
        <div class="inputBox">
            <input type="password" th:field="*{password}" required>
            <span>Password</span>
            <i></i>
        </div>
        <div class="row">
            <div class="col-4">
                <img th:src="*{'data:realCaptcha/jpg;base64,'+ realCaptcha}"/>
            </div>
        </div>
        <input type="hidden" th:field="*{hiddenCaptcha}">
        <div class="inputBox">
            <input type="text" th:field="*{captcha}">
            <span>ENTER CAPTCHA</span>
            <i></i>
        </div>
        <input style="margin-top: 35px;" type="submit" value="Login">
    </form>
</div>
</body>

</html>

