<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" th:href="@{/admin/css/dashboard.css}">
    <link rel="stylesheet" th:href="@{/admin/css/dashboard_information.css}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://unpkg.com/sweetalert2@11.0.0/dist/sweetalert2.min.css">
    <script src="https://unpkg.com/sweetalert2@11.0.0/dist/sweetalert2.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <title>PTITShop</title>
</head>

<body>

<!-- Sidebar -->
<div class="sidebar">
    <a href="#" class="logo">
        <i class='bx bx-code-alt'></i>
        <div class="logo-name"><span>PTIT</span>Shop</div>
    </a>
    <ul class="side-menu">
        <li class="slide-menu-product"><a href="/admin/product"><i class='bx bxs-dashboard'></i>Sản phẩm</a></li>
        <li class="slide-menu-category"><a href="/admin/category"><i class='bx bx-store-alt'></i>Danh mục sản phẩm</a></li>
        <li class="slide-menu-order"><a href="#"><i class='bx bx-analyse'></i>Đơn hàng</a></li>
        <li class="slide-menu-customer"><a href="/admin/customer"><i class='bx bx-group'></i>Khách hàng</a></li>
        <li class="slide-menu-staff"><a href="/admin/staff"><i class='bx bx-group'></i>Nhân viên</a></li>
        <li><a href="#"><i class='bx bx-cog'></i>Settings</a></li>
    </ul>
    <ul class="side-menu">
        <li>
            <a th:href="@{/admin/logout}" class="logout">
                <i class='bx bx-log-out-circle'></i> Logout
            </a>
        </li>
    </ul>
</div>
<!-- End of Sidebar -->

<!-- Main Content -->
<div class="content">
    <!-- Navbar -->
    <nav>
        <i class='bx bx-menu'></i>
    </nav>

    <!-- End of Navbar -->

    <main>
        <div class="header">
            <div class="left">
                <h1>Đơn hàng</h1>
                <ul class="breadcrumb">
                    <li><a href="#">
                        Order
                    </a></li>
                    /
                    <li><a href="#" class="active">Shop</a></li>

                </ul>
            </div>
        </div>

        <!--********************* Order ***********************-->
        <div style="background: var(--light);color: var(--dark);">
            <table width="100%" id="myTable">
                <thead>
                <tr>
                    <th style="width: 120px;"><span class="las la-sort"></span> MÃ ĐƠN</th>
                    <th style="width: 120px;"><span class="las la-sort"></span> NGÀY ĐẶT</th>
                    <th style="width: 80px;"><span class="las la-sort"></span> T.THÁI</th>
                    <th style="width: 80px;"><span class="las la-sort"></span> T.TIỀN</th>
                    <th style="width: 300px;"><span class="las la-sort"></span> EMAIL</th>
                    <th style="width: 120px;"><span class="las la-sort"></span> MÃ TT</th>
                    <th style="width: 120px;"><span class="las la-sort"></span> NGÀY TT</th>
                    <th style="width: 120px;"><span class="las la-sort"></span> LOẠI TT</th>
                    <th style="width: 180px;"><span class="las la-sort"></span> ĐỊA CHỈ</th>
                    <th style="width: 120px;"><span class="las la-sort"></span> SĐT</th>
                    <th><span class="las la-sort"></span> ACTION</th>
                </tr>
                </thead>
                <tbody id="tbody">
                    <tr th:each="order : ${orders}">
                        <td data-label="MaDon" th:text="${order.orderCode}"></td>
                        <td data-label="NgayDat" th:text="${order.orderDate}"></td>
                        <td data-label="TrangThai" th:text="${order.state}"></td>
                        <td data-label="TongTien" th:text="${order.totalPrice}"></td>
                        <td data-label="Username" th:text="${order.customer.email}"></td>
                        <td data-label="MaThanhToan" th:text="${order.payment != null ? order.payment.paymentCode : 'none'}"></td>
                        <td data-label="NgayThanhToan" th:text="${order.payment != null ? order.payment.paymentDate : 'none'}"></td>
                        <td data-label="LoaiThanhToan" th:text="${order.payment != null ? order.payment.type : 'none'}"></td>
                        <td data-label="DiaChi" th:text="${order.address}"></td>
                        <td data-label="SDT" th:text="${order.customer.phone}"></td>
                        <td>
                            <i id="showDetailIcon" style="background: #16bb5e; border: 2px solid #16bb5e !important; margin-left: 5px; margin-top: 5px" class="fa fa-file xemChiTietOrder" title="Xem chi tiết"></i>
                            <th:block th:if="${order.state eq 'pending'}">
                                <i style="background: #db7419; border: 2px solid #db7419 !important; margin-top: 5px" class="fa fa-truck deliveryOrder active" title="Vận chuyển"></i>
                                <i style="background: #c11515; border: 2px solid #c11515 !important; margin-left: 5px; margin-top: 5px" class="fa fa-times cancelOrder active" title="Hủy đơn hàng"></i>
                                <i style="margin-top: 5px; pointer-events: none;" class="fa fa-paypal disabled" title="Thanh toán"></i>
                            </th:block>
                            <th:block th:unless="${order.state eq 'pending'}">
                                <i style="background: #c11515; border: 2px solid #c11515 !important; pointer-events: none; margin-top: 5px" class="fa fa-truck disabled" title="Vận chuyển"></i>
                                <i style="background: #c11515; border: 2px solid #c11515 !important; margin-left: 5px; margin-top: 5px" class="fa fa-times disabled" title="Hủy đơn hàng"></i>
                                <th:block th:if="${order.state eq 'delivering'}">
                                    <i style="margin-top: 5px" class="fa fa-paypal payOrder active" title="Thanh toán"></i>
                                </th:block>
                                <th:block th:unless="${order.state eq 'delivering'}">
                                    <i style="margin-top: 5px; pointer-events: none;" class="fa fa-paypal disabled" title="Thanh toán"></i>
                                </th:block>
                            </th:block>
                        </td>
                        <td data-label="ChiTietOrder" style="color: var(--dark); display: none;">
                            <th:block th:each="orderItem : ${order.orderItemList}">
                                <p class="order-data" data-label="MaDonCT" th:text="${orderItem.orderItemsId}"></p>
                                <p class="order-data" data-label="MaSPCT" th:text="${orderItem.product.productCode}"></p>
                                <p class="order-data" data-label="TenSPCT" th:text="${orderItem.product.name}"></p>
                                <p class="order-data" data-label="SoLuong" th:text="${orderItem.quantity}"></p>
                                <p class="order-data" data-label="Size" th:text="${orderItem.size}"></p>
                                <p class="order-data" data-label="TongTien" th:text="${orderItem.totalPrice}"></p>
                            </th:block>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div id="formChiTietOrder" class="XemChiTiet" style="display:none; border-radius: 12px; background: var(--light); width: 80% !important;">
            <table width="100%">
                <thead>
                <tr style="background: none !important;">
                    <th style="width: 120px;"><span class="las la-sort"></span>Mã đơn</th>
                    <th style="width: 190px;"><span class="las la-sort"></span>Mã SP</th>
                    <th style="width: 190px;"><span class="las la-sort"></span>Tên SP</th>
                    <th style="width: 120px;"><span class="las la-sort"></span>Số Lượng</th>
                    <th style="width: 120px;"><span class="las la-sort"></span>Size</th>
                    <th style="width: 120px;"><span class="las la-sort"></span>Tổng tiền</th>
                </tr>
                </thead>
                <tbody id="tbody_2">
                <tr></tr>
                </tbody>
            </table>
            <button id="cancelXemChiTietOrder" style="font-size: 14px;border: none;background-color: red;margin-top: 21px; color: white; width: 120px; height: 30px;border-radius: 1px;">Cancel</button>
        </div>
        <div id="errorMessage" style="display: none" th:text="${err != null ? err : 'None'}"></div>
        <div id="successMessage" style="display: none" th:text="${success != null ? success : 'None'}"></div>
    </main>
</div>

</main>

</div>

</body>

</html>
<script th:src="@{/admin/js/dashboard.js}"></script>
<script>
    //Khai báo biến tổng quát dùng mọi chỗ
    const link = document.querySelector(".slide-menu-order");
    const table2 = document.querySelector('#myTable');
    var err = document.getElementById('errorMessage');
    var success = document.getElementById('successMessage');

    const tbody = document.getElementById("tbody");

    var formChiTietSP = document.getElementById('formChiTietOrder');
    document.querySelectorAll('.xemChiTietOrder').forEach(function(button) {
        button.addEventListener('click', function() {
            formChiTietSP.style.display = 'block';
        });
    });

    document.getElementById("cancelXemChiTietOrder").addEventListener("click", function() {
        var formChiTiet = document.getElementById("formChiTietOrder");
        formChiTiet.style.display = (formChiTiet.style.display === "block" || formChiTiet.style.display === "") ? "none" : "block";
    });

    document.querySelectorAll('.xemChiTietOrder').forEach(function(button) {
        button.addEventListener('click', function() {
            var formChiTiet = document.getElementById("formChiTietOrder");
            formChiTiet.style.display = 'block';
            var row = this.closest('tr');
            var orderItemsData = row.querySelector('td[data-label="ChiTietOrder"]').querySelectorAll('p');

            var tbody2 = document.getElementById('tbody_2');
            tbody2.innerHTML = "";
            var newRow;
            orderItemsData.forEach(function(p) {
                var label = p.getAttribute('data-label');
                var value = p.textContent;

                // Nếu chưa có dòng mới hoặc là order mới, tạo dòng mới
                if (!newRow || label === "MaDonCT") {
                    newRow = tbody2.insertRow();
                }

                var newCell = newRow.insertCell();
                newCell.textContent = value;
                newCell.setAttribute('data-label', label);
            });
        });
    });

    function popUp(title, icon, confirmText, cancelText, method, successText){
        const row = event.target.closest('tr');
        const order_code = row.cells[0].textContent.trim();
        const action = method;
        Swal.fire({
            title: title,
            icon: icon,
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: confirmText,
            cancelButtonText: cancelText
        }).then((result) => {
            if (result.isConfirmed) {
                const form = document.createElement('form');
                form.method = 'POST';
                form.action = '/admin/order/changeState';

                const orderCodeInput = document.createElement('input');
                orderCodeInput.type = 'text';
                orderCodeInput.name = 'MaDonHang';
                orderCodeInput.value = order_code;
                form.appendChild(orderCodeInput);

                const actionInput = document.createElement('input');
                actionInput.type = 'text';
                actionInput.name = 'action';
                actionInput.value = action;
                form.appendChild(actionInput);

                document.body.appendChild(form);
                form.submit();
            }
        })
    }

    //Thanh toán
    table2.addEventListener('click', function(event) {
        if (event.target.classList.contains('payOrder')) {
            let title = 'Thanh toán cho đơn hàng này?';
            let icon = 'question';
            let confirmText = 'Thanh toán';
            let cancelText = 'Hủy';
            let method = 'Pay';
            let successText = 'Thanh toán thành công!';
            popUp(title, icon, confirmText, cancelText, method, successText);
        }
    })

    //Hủy đơn

    table2.addEventListener('click', function(event) {
        if (event.target.classList.contains('cancelOrder')) {
            let title = 'Bạn muốn hủy đơn hàng này?';
            let icon = 'warning';
            let confirmText = 'Hủy đơn';
            let cancelText = 'Không';
            let method = 'Cancel';
            let successText = 'Hủy đơn thành công!';
            popUp(title, icon, confirmText, cancelText, method, successText);
        }
    })

    // Vận chuyển
    table2.addEventListener('click', function(event) {
        if (event.target.classList.contains('deliveryOrder')) {
            let title = 'Vận chuyển đơn hàng này?';
            let icon = 'question';
            let confirmText = 'Vận chuyển';
            let cancelText = 'Hủy';
            let method = 'Delivery';
            let successText = 'Đơn hàng đang được vận chuyển!';
            popUp(title, icon, confirmText, cancelText, method, successText);
        }
    })

    function showLoadingSwal() {
        return Swal.fire({
            title: 'Loading...',
            text: 'Vui lòng chờ trong giây lát!',
            showConfirmButton: false,
            imageUrl: '/admin/img/gif/loading.gif',
            timer: 2000,
            allowOutsideClick: false // Không cho phép đóng khi click ra ngoài
        });
    }


    function showErrSwal(err) {
        return Swal.fire({
            title: 'Error',
            text: err,
            icon: "error"
        });
    }

    function showSuccessSwal(success) {
        Swal.fire({
            icon: "success",
            title: success,
            showConfirmButton: false,
            timer: 1500
        });
    }

    if(err.textContent !== "None"){
        showErrSwal(err.textContent);
    }
    else{
        if(success.textContent !== "None"){
            showSuccessSwal(success.textContent);
        }
        else{
            showLoadingSwal();
        }
    }

    //Active
    link.classList.add('active');
</script>