<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>PTIT-Shop</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/client/css/home.css}">
    <link rel="stylesheet" th:href="@{/client/css/responsive.css}">
    <link rel="stylesheet" th:href="@{/client/css/product.css}">
    <link rel="stylesheet" th:href="@{/client/css/cart.css}">
</head>

<body>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


<header th:replace="web_client/header"></header>

<!-- Cart -->
<section class="cart">
    <div class="lifcycle-cart">
        <p>Giỏ hàng</p>
        <p>Địa chỉ giao hàng</p>
    </div>
    <div class="container-cart">
        <div class="cart-top-wrap">
            <div class="cart-top">
                <div class="cart-top-cart cart-top-item">
                    <i class="fa fa-shopping-cart"></i>
                </div>
                <div class="cart-top-address cart-top-item">
                    <i class="fa fa-map-marker"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="container-cart">
        <div class="cart-content row" style="margin-right: 0px !important;">
            <div class="cart-content-left">
                <table class="cart__item">
                    <tr>
                        <th>Sản phẩm</th>
                        <th>Tên sản phẩm</th>
                        <th>Màu</th>
                        <th>Size</th>
                        <th>Số lượng</th>
                        <th>Thành tiền</th>
                        <th>Xóa</th>
                    </tr>

                    <div th:each="product : ${listCartItems}">
                    <tr>
                        <td><img th:src="@{${product.product.productImages[0].image.substring(1)}}" alt=""></td>
                        <td>
                            <p th:text="${product.product.name}"></p>
                        </td>
                        <td><p th:text="${product.product.color}"></p></td>
                        <td>
                            <p th:text="${product.size}"></p>
                        </td>
                        <td>
                            <input type="number" class="number-input" th:value="${product.quantity}" min="1">
                        </td>
                        <td class="cart-product-sub-total" style="display: none;">
                            <span class="cart-price" th:text="${product.totalPrice} / ${product.quantity}"></span>
                        </td>
                        <td class="cart-product-sub-total">
                            <p class="price_coin cart-sub-total-price" th:text="${product.totalPrice} * 1000"></p>
                        </td>
                        <td><span>X</span></td>
                    </tr>
                    </div>
                </table>
            </div>
            <div class="cart-content-right">
                <table>
                    <tr>
                        <th colspan="2">TỔNG TIỀN GIỎ HÀNG</th>
                    </tr>
                    <tr>
                        <td>TỔNG SẢN PHẨM</td>
                        <td id="total-quantity"></td>
                    </tr>
                    <tr>
                        <td>TỔNG TIỀN HÀNG</td>
                        <td id="overall-total">
                            <p style="font-size: 15px;"><sup>đ</sup></p>
                        </td>
                    </tr>
                    <tr>
                        <td>TẠM TÍNH</td>
                        <td id="sub-total">
                            <p style="color: black; font-weight: bold; font-size: 15px;"><sup>đ</sup></p>
                        </td>
                    </tr>
                </table>
                <div class="cart-content-right-text">
                    <p>Đơn hàng sẽ được freeship có giá trị từ 399.000 đ</p>
                </div>
                <div class="cart-content-right-button">
                    <a href="/auth/categoryManagement">
                        <button>TIẾP TỤC MUA SẮM</button>
                    </a>
                    <a href="/auth/delivery">
                        <button>THANH TOÁN</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section th:replace="web_client/footer"></section>

</body>

</html>
<script th:src="@{/client/js/scroll.js}"></script>
<script th:src="@{/client/js/responsiveMenu.js}"></script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        var priceElements = document.getElementsByClassName("cart-product-sub-total price_coin");

        for (var i = 0; i < priceElements.length; i++) {
            var priceElement = priceElements[i];
            var price = parseFloat(priceElement.innerText);

            if (!isNaN(price)) {
                var formattedPrice = new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' }).format(price);
                priceElement.innerText = formattedPrice;
            }
        }
    });

    /*======================= Tính tổng tiền 1 sản phẩm ==============*/
    // Lấy tất cả các phần tử input có class "number-input"
    const numberInputs = document.querySelectorAll('.number-input');
    const cartSubTotalSpans = document.querySelectorAll('.cart-sub-total-price');

    numberInputs.forEach((input, index) => {
        input.addEventListener('change', () => updateSubTotal(index));
    });

    // Hàm tính tổng cart-sub-total-price cho sản phẩm cụ thể (dựa trên index)
    function updateSubTotal(index) {
        const cartPriceSpan = numberInputs[index].closest('tr').querySelector('.cart-price');
        const cartSubTotalSpan = cartSubTotalSpans[index];
        const quantity = parseInt(numberInputs[index].value, 10);
        const cartPrice = parseFloat(cartPriceSpan.textContent.replace('$', '').trim());
        const subTotal = quantity * cartPrice;
        cartSubTotalSpan.textContent = subTotal.toFixed(0);
        var totalWithAddition = subTotal * 1000;

        var formattedTotalWithAddition = totalWithAddition.toLocaleString('vi-VN', { style: 'currency', currency: 'VND' });

        cartSubTotalSpan.textContent = formattedTotalWithAddition;
        updateOverallTotal();
        updateTotalQuantity();
    }

    function updateTotalQuantity() {
        var totalQuantity = 0;

        // Calculate the total quantity based on individual quantities
        numberInputs.forEach(input => {
            totalQuantity += parseInt(input.value, 10);
        });

        // Update the total quantity display
        document.getElementById('total-quantity').textContent = totalQuantity;
    }

    function updateOverallTotal() {
        var overallTotal = 0;

        // Calculate the overall total based on individual subtotals
        cartSubTotalSpans.forEach(span => {
            overallTotal += parseFloat(span.textContent.replace(/\D/g, '')); // Remove non-digit characters
        });

        var formattedOverallTotal = overallTotal.toLocaleString('vi-VN', { style: 'currency', currency: 'VND' });

        // Update the overall total display
        document.getElementById('overall-total').textContent = formattedOverallTotal;
    }

    numberInputs.forEach((input, index) => {
        input.addEventListener('change', () => updateSubTotal(index));
    });
    numberInputs.forEach((input, index) => {
        updateSubTotal(index);
    });

</script>