<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/client/css/home.css}">
    <link rel="stylesheet" th:href="@{/client/css/responsive.css}">
    <link rel="stylesheet" th:href="@{/client/css/confirmUser.css}">
    <header th:replace="web_client/header"></header>
</head>

<body>
<main id="main" class="site-main" style="margin-top: 8%;">
    <div class="container">
        <div class="auth auth-forgotpass">
            <div class="auth-container">
                <div class="auth-forgotpass">
                    <div class="auth__login auth__block">
                        <h3 class="auth__title">
                            Xác thực tài khoản?
                        </h3>
                        <div class="auth__login__content" style="text-align: center;">
                            <p class="auth__description">
                                (Mã xác thực đã được gửi tới số email của bạn)
                            </p>
                            <form class="auth__form" role="login" action="/auth/confirmUser" method="POST">
                                <div class="form-group">
                                    <input class="form-control" type="text" value="" name="code" placeholder="Nhập mã xác thực">
                                </div>
                                <div th:if="${success}" class="custom-alert custom-alert-success" role="alert" style="display: block !important">
                                    <i class="fa fa-check"></i>
                                    <span th:text="${success == '1' ? 'Quá trình đăng ký thành công !' : ''}"></span>
                                </div>
                                <div th:if="${error}" class="custom-alert custom-alert-error" role="alert" style="display: block !important">
                                    <i class="fa fa-times-circle"></i>
                                    <span th:text="${error == '2' ? 'Nhập mã OTP không đúng. Vui lòng nhập lại !' : ''}"></span>
                                </div>
                                <div class="auth__form__buttons">
                                    <button type="submit" class="btn btn--large">Gửi đi</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

</body>

</html>