<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>PTIT-Shop</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/client/css/home.css}">
    <link rel="stylesheet" th:href="@{/client/css/responsive.css}">
    <link rel="stylesheet" th:href="@{/client/css/product.css}">
    <link rel="stylesheet" th:href="@{/client/css/cart.css}">
    <link rel="stylesheet" th:href="@{/client/css/delivery.css}">
</head>

<body>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<header th:replace="web_client/header"></header>

<!--************* Delivery ***************-->
<section class="delivery">
    <div class="lifcycle-delivery">
        <p style="padding-left: 111px !important;">Giỏ hàng</p>
        <p style="padding-left: 268px; !important;">Địa chỉ giao hàng</p>
    </div>
    <div class="container-delivery">
        <div class="delivery-top-wrap">
            <div class="cart-top">
                <div class="delivery-top-delivery delivery-top-item">
                    <i class="fa fa-shopping-cart"></i>
                </div>
                <div class="delivery-top-address delivery-top-item">
                    <i class="fa fa-map-marker"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="container-delivery">
        <div class="delivery-content row" style="margin-right: 0px !important;">
            <div class="delivery-content-left">
            <p>Địa chỉ giao hàng</p>
            <form id="MakePaymentForm" th:action="@{/auth/payment}" method="POST">
                <div class="delivery-content-left-input-top row">
                    <?php $province = $data['province'] ?>
                    <div class="delivery-content-left-input-top-item">
                        <input id="provinceText" name="provinceText" type="hidden">
                        <select id="province" style="width: 100%; padding-left: 10px;margin-left: 12px;height: 39px;background-color: white;margin-bottom: 12px; border-radius: 5px" onchange="loadDistricts()">
                            <option>Thành phố/ Tỉnh</option>
                            <option value="1">Hồ Chí Minh</option>
                            <option value="2">Thủ Đức</option>
                        </select>
                    </div>
                    <div class="delivery-content-left-input-top-item">
                        <input id="districtText" name="districtText" type="hidden">
                        <select id="district" style="width: 100%;; padding-left: 10px; margin-left: 12px; height: 39px; background-color: white; margin-bottom: 12px; border-radius: 5px" onchange="loadWards()">
                            <option>Quận/Huyện</option>
                        </select>
                    </div>
                </div>
                <div class="delivery-content-left-input-bottom">
                    <div class="delivery-content-left-input-bottom-item">
                        <input id="wardText" name="wardText" type="hidden">
                        <select id="ward" style="width: 104.5%; padding-left: 10px; margin-left: -3px; height: 39px; background-color: white; margin-bottom: 12px; border-radius: 5px" onchange="getWardsTxt()">
                            <option>Phường/Xã</option>
                        </select>
                    </div>
                    <div class="delivery-content-left-input-bottom-item">
                        <input id="address" class="form-control" type="text" value="" name="address" placeholder="Địa chỉ">
                    </div>
                </div>
                <div class="delivery-content-left-payment">
                    <input name="payment" type="radio" style="display: inline !important;" checked>
                    <label>Thu tiền khi nhận hàng</label>
                </div>
                <div class="delivery-content-left-button row">
                    <a href="/Cart"><span>&#171;</span><p>Quay lại giỏ hàng</p></a>
                    <a href="/Payment">
                        <button  type="submit" onclick="validateAndSubmit(event)">
                            <p>THANH TOÁN VÀ GIAO HÀNG</p>
                        </button>
                    </a>
                </div>
            </form>
        </div>
            <div class="delivery-content-right">
                <table id="cartTable">
                    <tr>
                        <th>Tên sản phẩm</th>
                        <th>Số lượng</th>
                        <th></th>
                        <th>Thành tiền</th>
                    </tr>
                    <div th:each="product : ${listCartItems}">
                        <tr>
                            <td th:text="${product.product.name}"></td>
                            <td th:text="${product.quantity}"></td>
                            <td></td>
                            <td class="cart-product-sub-total">
                                <p class="price_coin cart-sub-total-price" th:text="${#numbers.formatDecimal(product.totalPrice * 1000, 0, 'COMMA', 0, 'POINT')} + ' đ'"></p>
                            </td>
                        </tr>
                    </div>
                    <tr>
                        <td style="font-weight: bold;" colspan="3">Tổng tiền</td>
                        <td style="font-weight: bold;" class="cart-product-sub-total">
                            <p id="totalAmount"></p>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</section>

<section th:replace="web_client/footer"></section>

</body>

</html>
<script th:src="@{/client/js/scroll.js}"></script>
<script th:src="@{/client/js/responsiveMenu.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    function loadDistricts() {
        var provinceSelect = document.getElementById("province");
        var districtSelect = document.getElementById("district");
        var provinceTxt = document.getElementById("provinceText");

        districtSelect.innerHTML = "<option>Quận/Huyện</option>";
        if (provinceSelect.value == "1") {
            var districts = ["Quận 7", "Quận 5"];
            provinceTxt.value = "Hồ Chí Minh";
        } else if (provinceSelect.value == "2") {
            var districts = ["Quận 9", "Quận 2"];
            provinceTxt.value = "Thủ Đức";
        }
        for (var i = 0; i < districts.length; i++) {
            var option = document.createElement("option");
            option.value = i + 1;
            option.text = districts[i];
            districtSelect.add(option);
        }
    }

    function loadWards() {
        var districtSelect = document.getElementById("district");
        var wardSelect = document.getElementById("ward");
        var districtTxt = document.getElementById("districtText");

        wardSelect.innerHTML = "<option>Phường/Xã</option>";
        var selectedDistrict = districtSelect.options[districtSelect.selectedIndex].text;

        if (selectedDistrict == "Quận 7") {
            districtTxt.value = "Quận 7";
            var wards = ["Phường Phú Mỹ", "Phường Tân Quy"];
        } else if (selectedDistrict == "Quận 5") {
            districtTxt.value = "Quận 5";
            var wards = ["Phường 5", "Phường 6"];
        } else if (selectedDistrict == "Quận 9") {
            districtTxt.value = "Quận 9";
            var wards = ["Phường Hiệp Phú", "Phường Tăng Nhơn Phú A"];
        } else if (selectedDistrict == "Quận 2") {
            districtTxt.value = "Quận 2";
            var wards = ["Phường Thảo Điền", "Phường An Phú"];
        }
        for (var i = 0; i < wards.length; i++) {
            var option = document.createElement("option");
            option.value = i + 1;
            option.text = wards[i];
            wardSelect.add(option);
        }
    }

    function getWardsTxt() {
        var wardSelect = document.getElementById("ward");
        var wardText = document.getElementById("wardText");

        var selectedWard = wardSelect.options[wardSelect.selectedIndex].text;
        if(selectedWard != "Phường/Xã"){
            wardText.value = selectedWard;
        }
    }

    var table = document.getElementById("cartTable");

    // Khởi tạo biến tổng tiền
    var totalPrice = 0;

    // Lặp qua các hàng của bảng (bỏ qua hàng đầu tiên vì là header)
    for (var i = 1; i < table.rows.length - 1; i++) {
        // Lấy giá trị thành tiền từ cột thứ 4
        var priceString = table.rows[i].cells[3].querySelector('.cart-sub-total-price').innerHTML;
        var price = parseInt(priceString.replace(/\D/g, '')); // Chuyển đổi giá trị sang số

        // Cộng vào tổng tiền chung
        totalPrice += price;
    }

    // Gán giá trị tổng tiền vào phần tử có id "totalAmount"
    document.getElementById("totalAmount").innerText = formatCurrency(totalPrice);

    // Hàm định dạng số tiền thành chuỗi có dấu phân cách
    function formatCurrency(amount) {
        return amount.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',') + ' đ';
    }

    function validateAndSubmit(event) {
        event.preventDefault();

        // Lấy các giá trị từ các trường địa chỉ
        var provinceValue = document.getElementById("province").value;
        var districtValue = document.getElementById("district").value;
        var wardValue = document.getElementById("ward").value;
        var addressValue = document.getElementById("address").value;

        // Kiểm tra xem các giá trị đã nhập đầy đủ chưa
        if (provinceValue === "Thành phố/ Tỉnh" || districtValue === "Quận/Huyện" || wardValue === "Phường/Xã" || addressValue.trim() === "") {
            // Nếu không đầy đủ, hiển thị thông báo lỗi
            errorToCart();
        } else {
            // Nếu đầy đủ, thực hiện hành động thêm vào giỏ hàng
            addToCart();
        }
    }

    function addToCart() {
        Swal.fire({
            icon: 'success',
            title: 'Thông báo',
            text: 'Đơn hàng đang được tiến hành xử lý !',
            showCloseButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'OK'
        }).then(function () {
            // Sau khi nhấp OK, thực hiện submit form
            document.getElementById("MakePaymentForm").submit();
        });
    }

    function errorToCart() {
        Swal.fire({
            icon: 'error',
            title: 'Thông báo',
            text: 'Bạn chưa điền đầy đủ địa chỉ giao hàng !',
            showCloseButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'OK'
        });
        // Thêm code xử lý khi địa chỉ không hợp lệ
    }

</script>