<link rel="stylesheet" th:href="@{/client/css/header.css}">
<header class="myHeader">
    <label id="check" class="checkbtn"><i class="fa fa-bars" style="position: absolute; left: 12px;"></i></label>
    <div class="logo">
        <img th:src="@{/client/img/logo_shop.png}" alt="">
    </div>
    <nav class="menu">
        <ul>
        <li class="main-menu-item"><a href="">NỮ</a>
            <i class="fa fa-plus plus" style="font-size: 12px; float: right; margin-top: 2%; display: none;"></i>
            <ul class="sub-menu sub-menu-1">
                <li><a href="/auth/category/ao-nu">ÁO</a>
                    <ul class="empty-item-1" th:each="category : ${listCategorys}" th:if="${category.parentCategoryId == 3}">
                        <li><a th:href="@{'/auth/category/' + ${category.slug}}" th:text="${category.name}"></a></li>
                    </ul>
                </li>
                <li><a href="/auth/category/quan-nu">QUẦN</a>
                    <ul class="empty-item-1" th:each="category : ${listCategorys}" th:if="${category.parentCategoryId == 4}">
                        <li><a th:href="@{'/auth/category/' + ${category.slug}}" th:text="${category.name}"></a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li class="main-menu-item"><a href="">NAM</a>
            <i class="fa fa-plus plus" style="font-size: 12px; float: right; margin-top: 2%; display: none;"></i>
            <ul class="sub-menu sub-menu-2">
                <li><a href="/auth/category/ao-nam">ÁO</a>
                    <ul class="empty-item-2" th:each="category : ${listCategorys}" th:if="${category.parentCategoryId == 1}">
                        <li><a th:href="@{'/auth/category/' + ${category.slug}}" th:text="${category.name}"></a></li>
                    </ul>
                </li>
                <li><a href="">QUẦN</a>
                    <ul class="empty-item-2" th:each="category : ${listCategorys}" th:if="${category.parentCategoryId == 2}">
                        <li><a th:href="@{'/auth/category/' + ${category.slug}}" th:text="${category.name}"></a></li>
                    </ul>
                </li>
            </ul>
        </li>
        </ul>
    </nav>

    <div class="orthers">
        <li>
            <input placeholder="Search..." type="text">
            <i class="fa fa-search"></i>
        </li>
        <li><i class="fa fa-paw"></i></li>
        <a th:href="@{'/auth/login'}">
            <div class="item" style="padding-left: 12px; cursor: pointer;" title="Đăng nhập">
            <li><i class="fa fa-user" id="userIcon" style="margin-left: 2px; margin-right: 4px; border-right: 1px solid; padding-right: 12px;"></i></li>
            <div class="sub-action" style="display: none; margin-top: 15px; margin-right: 78px">
                <div class="top-action" style="cursor: context-menu;">
                    <a class="icon" style="text-decoration: none; cursor: context-menu;"><h3>Tài khoản của tôi</h3></a>
                </div>
                <ul>
                    <li><a href="/Customer/Info"><i class="fa fa-user"></i>Thông tin tài khoản</a></li>
                    <li><a href="/Customer/Order"><i class="fa fa-file"></i>Quản lý đơn hàng</a></li>
                    <li><a href="/Customer/ResetPassword"><i class="fa fa-key"></i>Đổi mật khẩu</a></li>
                    <li><a href="/Auth/Logout"><i class="fa fa-sign-out"></i>Đăng xuất</a></li>
                </ul>
            </div>
        </div>
        </a>
        <li><i class="fa fa-shopping-bag"></i></li>
    </div>
</header>
<script>
    // document.addEventListener('DOMContentLoaded', function() {
    //     // Lấy element của icon
    //     var userIcon = document.getElementById('userIcon');
    //
    //     // Lấy element của sub-action
    //     var subAction = document.querySelector('.sub-action');
    //
    //     // Bắt sự kiện click vào icon
    //     userIcon.addEventListener('click', function() {
    //
    //         if(!subAction){
    //             window.location.href = '/Auth';
    //         }
    //         // Kiểm tra trạng thái hiện tại của sub-action và thay đổi nó
    //         if (subAction.style.display === 'none' || subAction.style.display === '') {
    //             subAction.style.display = 'block';
    //         } else {
    //             subAction.style.display = 'none';
    //         }
    //     });
    // });
</script>