<!doctype html>
<html lang="en">

<head>
    <title>PTIT Shop</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>PTIT-Shop</title>

    <!-- Bootstrap CSS -->
    <!-- <?php require_once './mvc/views/shopping/libcss.php'; ?> -->
    <link rel="stylesheet" th:href="@{/client/css/orderManagement.css}">
    <link rel="stylesheet" th:href="@{/client/css/informationUser.css}">
    <link rel="stylesheet" th:href="@{/client/css/home.css}">
    <link rel="stylesheet" th:href="@{/client/css/responsive.css}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<header th:replace="web_client/header"></header>

<!--****** INFORMATION ****** -->

<main id="main" class="site-main" style="margin-top: 50px;">
    <div class="container">
        <div class="order-wrapper mt-40 my-account">
            <div class="row">
                <div class="col-lg-4 col-xl-auto">
                    <div class="order-sidemenu block-border">
                        <div class="order-sidemenu__user">
                            <div class="order-sidemenu__user-avatar">
                                <img src="https://pubcdn.ivymoda.com/ivy2//images/v2/assets/user-avatar-placeholder.png" alt="">
                            </div>
                            <div class="order-sidemenu__user-name">
                                <p th:text="${CustomerInfor.fullname}"></p>
                            </div>
                        </div>
                        <div class="order-sidemenu__menu">
                            <ul class="menu_side">
                                <li class="">
                                    <a href="/auth/informationUser"><span class="fa fa-user"></span>Thông tin tài khoản</a>
                                </li>
                                <li class="active">
                                    <a href=""><span class="fa fa-file"></span>Quản lý đơn hàng</a>
                                </li>
                                <li class="">
                                    <a href="/auth/changePasswordUser"><span class="fa fa-key"></span>Đổi mật khẩu</a>
                                </li>
                                <li class="">
                                    <a href="/logout"><span class="fas fa-door-open"></span>Đăng xuất</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-3xl-1"></div>
                <div class="col-lg-8 col-xl col-account-content">
                    <div class="order-block__title">
                        <h2 style="font-family: initial; font-size: 28px; font-weight:bold;">QUẢN LÝ ĐƠN HÀNG</h2>
                        <div class="form-group">
                            <label> Trạng thái đơn hàng:</label>
                            <select class="form-control rounded ng-pristine ng-untouched ng-valid ng-empty" ng-model="status" ng-change="list()">
                                <option value="" selected="selected">
                                    Tất cả
                                </option>
                                <option value="tao_don_hang">Đặt hàng thành công</option>
                                <option value="dang_xu_ly">Đang xử lý</option>
                                <option value="cho_giao_van">Chờ giao vận</option>
                                <option value="dang_van_chuyen">Đã gửi</option>
                                <option value="da_nhan_hang">Đã nhận hàng</option>
                                <option value="da_huy">Đã hủy</option>
                                <option value="da_tra_hang">Trả hàng</option>
                            </select>
                        </div>
                    </div>
                    <div class="order-block">
                        <p class="alert alert-primary" style="margin-top: -41px;">"Nếu bạn muốn hủy đơn hàng vui lòng liên hệ hotline 0707427559"</p>
                        <table class="order-block__table">
                            <thead>
                            <tr>
                                <th>MÃ ĐƠN HÀNG</th>
                                <th>NGÀY</th>
                                <th style="width: 210px">TRẠNG THÁI</th>
                                <th>TỔNG TIỀN</th>
                            </tr>
                            </thead>
                            <tbody>
                            <div th:if="${listOrders != null}">
                            <tr ng-repeat="item in list_order track by $index" class="ng-scope" th:each="order : ${listOrders}">
                                <td>
                                    <a href="" class="ng-binding" style="color: #6c6d70; text-decoration: underline;" th:text="${order.orderCode}"></a>
                                </td>
                                <td class="ng-binding" th:text="${order.orderDate}"></td>
                                <td>
                                    <div class="order__status">
                                        <span class="icon-ic_reload"></span>
                                        <span class="ng-binding" th:text="${order.state}"></span>
                                    </div>
                                </td>
                                <td><span class="price ng-binding" th:text="${order.totalPrice * 1000}"></span></td>
                            </tr>
                            </div>

                            <div th:if="${listOrderHistories != null}">
                            <tr ng-repeat="item in list_order track by $index" class="ng-scope" th:each="orderHistory : ${listOrderHistories}">
                                <td>
                                    <a href="" class="ng-binding" style="color: #6c6d70; text-decoration: underline;" th:text="${orderHistory.orderCode}"></a>
                                </td>
                                <td class="ng-binding" th:text="${orderHistory.orderDate}"></td>
                                <td>
                                    <div class="order__status">
                                        <span class="icon-ic_reload"></span>
                                        <span class="ng-binding" th:text="${orderHistory.state}"></span>
                                    </div>
                                </td>
                                <td><span class="price ng-binding" th:text="${orderHistory.totalPrice * 1000}"></span></td>
                            </tr>
                            </div>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

</body>

</html>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        var priceElements = document.getElementsByClassName("price");

        for (var i = 0; i < priceElements.length; i++) {
            var priceElement = priceElements[i];
            var price = parseFloat(priceElement.innerText);

            if (!isNaN(price)) {
                var formattedPrice = new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' }).format(price);
                priceElement.innerText = formattedPrice;
            }
        }
    });


</script>