<!doctype html>
<html lang="en">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>PTIT-Shop</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/client/css/home.css}">
    <link rel="stylesheet" th:href="@{/client/css/responsive.css}">
    <link rel="stylesheet" th:href="@{/client/css/product.css}">
</head>

<body>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


<header th:replace="web_client/header"></header>

<!--************* Product  ****************  -->
<section class="product">
    <div class="container-product" >
        <div class="product-top row" th:each="categoryManagement : ${categoryManagement}">
            <p>Trang chủ</p><span>&#10230; </span>
            <p th:text ="${nameParentCategory}"></p> <span>&#10230; </span>
            <p th:text ="${categoryManagement.name}"></p>
            <span>&#10230;</span>
            <p th:text="${product.name}"></p>
        </div>
        <div class="product-content row">
        <div class="product-content-left row" th:if="${listImg != null and not #lists.isEmpty(listImg)}">
                <div class="product-content-left-big-img" >
                    <img th:src="@{${listImg.get(0).image.substring(1)}}" alt="">
                </div>
                <div class="product-content-left-small-img">
                    <img th:src="@{${listImg[0].image.substring(1)}}" alt="">
                    <img th:src="@{${listImg[1].image.substring(1)}}" alt="">
                    <img th:src="@{${listImg[2].image.substring(1)}}" alt="">
                    <img th:src="@{${listImg[3].image.substring(1)}}" alt="">

                </div>
            </div>
            <div class="product-content-right">
                <div class="product-content-right-product-name">
                    <h1 th:text="${product.name}"></h1>
                    <p>SKU: 57B9489</p>
                </div>
                <div class="product-content-right-product-price">
                    <p class="price" th:text="${product.price * 1000}"style="font-weight: bold; font-size: 24px;"><sup>đ</sup></p>
                </div>
                <div class="product-content-right-product-color">
<!--                    <p th:text="${product.color}"style="font-weight: bold; font-size: 24px;"><span>Màu sắc</span></p>-->
                    <div class="product-content-right-product-color-img">
                        <img th:src="@{'/client/img/' + ${product.color} + '.jpg'}" alt="">
                    </div>
                </div>
                <div class="product-content-right-product-size" style="margin-top: 10px;">
                    <div class="size" onclick="selectSize(event)">
                        <span>S</span>
                        <span>M</span>
                        <span>L</span>
                        <span>XL</span>
                        <span>XXL</span>
                    </div>
                </div>
                <div class="quantity">
                    <p style="font-weight: bold; color: #6C6D70;">Số lượng</p>
                    <input type="number" min="0" value="1" class="custom-number-input">
                </div>
                <p style=" color: red; display: none;">Vui lòng chọn size</p>
                <div class="product-content-right-product-button">
                    <a href="/auth/login">
                    <button><p style="margin-bottom: 1%;">THÊM VÀO GIỎ</p></button>
                    </a>
<!--                    <a href="/auth/cart">-->
<!--                        <button><i class="fa fa-shopping-cart"></i><p style="margin-bottom: 1%;">MUA HÀNG</p></button>-->
<!--                    </a>-->
                </div>
                <div class="product-content-right-product-icon">
                    <div class="product-content-right-product-icon-item">
                        <i class="fa fa-phone"></i>
                        <p style="margin-bottom: 1%;">Hotline</p>
                    </div>
                    <div class="product-content-right-product-icon-item">
                        <i class="fa fa-wechat"></i>
                        <p style="margin-bottom: 1%;">Chat</p>
                    </div>
                    <div class="product-content-right-product-icon-item">
                        <i class="fa fa-envelope"></i>
                        <p style="margin-bottom: 1%;">Email</p>
                    </div>
                </div>
                <div class="product-content-right-bottom">
                    <div class="product-content-right-bottom-top">
                        <i class="fa fa-angle-down" style="font-size: 22px; font-weight: bold"></i>
                    </div>
                    <div class="product-content-right-bottom-content-big">
                        <div class="product-content-right-bottom-content-title row">
                            <div class="product-content-right-bottom-content-title-item introduction">
                                <p>Giới thiệu</p>
                            </div>
                            <div class="product-content-right-bottom-content-title-item detail">
                                <p>Chi tiết sản phẩm</p>
                            </div>
                            <div class="product-content-right-bottom-content-title-item preserve">
                                <p>Bảo quản</p>
                            </div>
                            <div class="product-content-right-bottom-content-title-item">
                                <p>Tham khảo Size</p>
                            </div>
                        </div>
                        <div class="product-content-right-bottom-content">
                            <div class="product-content-right-bottom-content-introduction">
                                <p>Trẻ trung, năng động xuống phố ngày hè trong kiểu dáng thun Baby Tee đang được các bạn trẻ ưa chuộng hiện nay.</p>
                                <p>Thiết kế áo trơn, cổ tròn, tạo điểm nhấn in chữ nổi mặt sau. Bạn có thể kết hợp áo cùng nhiều kiểu chân váy và quần khác nhau để tạo nên phong cách riêng cho mình. </p>
                                <p style="font-weight: bold; font-size: 16px;">Thông tin mẫu:</p>
                                <p style="font-weight: bold; font-size: 16px;">Chiều cao: <span style="font-weight: normal; font-size: 14px;">163 cm</span></p>
                                <p style="font-weight: bold; font-size: 16px;">Cân nặng: <span style="font-weight: normal; font-size: 14px;">47kg</span></p>
                                <p style=" font-weight: bold; font-size: 16px;">Số đo 3 vòng: <span style="font-weight: normal; font-size: 14px;">83-61-90cm</span>
                                </p>
                                <p>Mẫu mặc size S Lưu ý: Màu sắc sản phẩm thực tế sẽ có sự chênh lệch nhỏ so với ảnh do điều kiện ánh sáng khi chụp và màu sắc hiển thị qua màn hình máy tính/ điện thoại.</p>
                            </div>
                            <div class="product-content-right-bottom-content-detail" style="display: none;">
                                <p style="font-weight: bold;">Dòng sản phẩm: <span style="font-weight: normal;">You</span></p>
                                <p style="font-weight: bold;">Nhóm sản phẩm: <span style="font-weight: normal;">Áo</span></p>
                                <p style="font-weight: bold;">Cổ áo: <span style="font-weight: normal;">Cổ tròn</span></p>
                            </div>
                            <div class="product-content-right-bottom-content-preserve" style="display: none;">
                                <p>Chi tiết bảo quản sản phẩm :</p>
                                <p style="font-weight: bold;">* Các sản phẩm thuộc dòng cao cấp (Senora) và áo khoác (dạ, tweed, lông, phao) chỉ giặt khô, tuyệt đối không giặt ướt.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Product related-->
<section class="product-related">
    <div class="product-related-title">
        <p>Sản phẩm tương tự</p>
    </div>
    <div class="product-content row" th:if="${similarProducts != null and #lists.size(similarProducts) > 0}">
        <div class="product-related-item" th:each="product1, loopInfo : ${similarProducts}" th:if="${loopInfo.index < 4}">
            <a th:href="@{'/auth/product/' + ${product1.productCode}}">
                <th th:each="productImg : ${ImgSimilarProducts}" th:if="${product1.productCode == productImg.id.productCode}">
                    <img th:src="@{${productImg.image.substring(1)}}" alt="">
                </th>
                <img style="border: 1px solid black;" th:src="@{'/client/img/' + ${product1.color} + '.jpg'}" alt="">
                <a th:text="${product1.name}"></a>
                <p class="price" th:text="${product.price * 1000}"><sup>đ</sup></p>
            </a>
        </div>
    </div>
    <div   th:unless="${similarProducts != null and #lists.size(similarProducts) > 0}">
        <div style="text-align: center;">
            <!-- Nội dung hiển thị khi similarProducts là null hoặc rỗng -->
            <img style= "width: 20%" th:src="@{'/client/img/searchfail.png'}" alt="">
            <p>Không tìm thấy sản phẩm tương tự.</p>
        </div>
    </div>
</section>

<?php require_once 'footer.php'; ?>

</body>

</html>
<script th:src="@{/client/js/scroll.js}"></script>
<script th:src="@{/client/js/responsiveMenu.js}"></script>
<script th:src="@{/client/js/scroll.js}"></script>
<script th:src="@{/client/js/product.js}"></script>

<script>
    function selectSize(event) {
        var allSizes = document.querySelectorAll('.size span');
        var outOfStockButton = document.getElementById('outOfStockButton');
        var addToCartButton = document.querySelector('.product-content-right-product-button button');
        var buyButton = document.querySelector('.product-content-right-product-button a button');
        var sizeElements = document.querySelectorAll('.size-element');
        var sizesArray = Array.from(sizeElements).map(function (element) {
            return element.textContent;
        });

        var sizeS = sizesArray[0];
        var sizeM = sizesArray[1];
        var sizeL = sizesArray[2];
        var sizeXL = sizesArray[3];
        var sizeXXL = sizesArray[4];

        allSizes.forEach(function(size) {
            size.style.border = '1px solid #dddddd';
        });
        var selectedSize = event.target;
        if(selectedSize.tagName === 'SPAN') {
            selectedSize.style.border = '1px solid black';
            var sizeInput = document.getElementById('selectedSize');
            if (sizeInput) {
                sizeInput.value = selectedSize.getAttribute('data-size');
                if(sizeInput.value === "S"){
                    if(sizeS > 0){
                        showInStockButtons();
                    }else{
                        showOutOfStockButton();
                    }
                }else if(sizeInput.value === "M"){
                    if(sizeM > 0){
                        showInStockButtons();
                    }else{
                        showOutOfStockButton();
                    }
                }else if(sizeInput.value === "L"){
                    if(sizeL > 0){
                        showInStockButtons();
                    }else{
                        showOutOfStockButton();
                    }
                }else if(sizeInput.value === "XL") {
                    if(sizeXL > 0){
                        showInStockButtons();
                    }else{
                        showOutOfStockButton();
                    }
                }else {
                    if(sizeXXL > 0){
                        showInStockButtons();
                    }else{
                        showOutOfStockButton();
                    }
                }
            } else {
                //console.log('sizeInput is null');
            }
        }
    }

    // Hàm hiển thị còn hàng
    function showInStockButtons() {
        var outOfStockButton = document.getElementById('outOfStockButton');
        var addToCartButton = document.querySelector('.product-content-right-product-button button:nth-of-type(1)');
        var buyButton = document.querySelector('.product-content-right-product-button a button');

        outOfStockButton.style.display = 'none';
        addToCartButton.style.display = 'block';
    }

    // Hàm hiểm thị hết hàng
    function showOutOfStockButton() {
        var outOfStockButton = document.getElementById('outOfStockButton');
        var addToCartButton = document.querySelector('.product-content-right-product-button button:nth-of-type(1)');
        var buyButton = document.querySelector('.product-content-right-product-button a button');

        outOfStockButton.style.display = 'block';
        addToCartButton.style.display = 'none';
        buyButton.style.display = 'none';
    }
</script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        var priceElements = document.getElementsByClassName("price");

        for (var i = 0; i < priceElements.length; i++) {
            var priceElement = priceElements[i];
            var price = parseFloat(priceElement.innerText);

            if (!isNaN(price)) {
                var formattedPrice = new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' }).format(price);
                priceElement.innerText = formattedPrice;
            }
        }
    });
</script>